<!DOCTYPE html>
<html lang="en">

<head>
    <title> Stack overflow api exercise </title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
      <div class="header">
<!--        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active" ><a href="#">Home</a></li>
            <li role="presentation" ><a href="#">My Posts</a></li>
            <li role="presentation"><a href="#">Else</a></li>
          </ul>
        </nav>-->
            <h3 class="text-muted"> Stack overflow api exercise </h3>
        </div>

        <div class="jumbotron">
            <!--<h1>Get your posts</h1>-->
            <p class="lead"></p>
            <p><a class="btn" href="/myPosts" >enter your user_id</a>
                <br> <br>
                <input type="text" name="user_id" value="enter your id">
            </p>
        </div>

        <footer class="footer">
            <p>&copy; Omri Gal 2017</p>
        </footer>

    </div>
</body>

</html>
