<!DOCTYPE html>
<html lang="en">

<head>
    <title> Stack overflow api exercise </title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>

<body>

    <div class="container">
      <div class="header">
          <h3 class="text-muted"> Stack overflow api exercise </h3>
      </div>

        <div class="jumbotron">
            <p class="lead"></p>
            <form method="get" action="{{ url_for('get_user_posts') }}">
                <p><input type="text" name="user_id" value="enter user_id"> <input type="submit" value="Get my posts"></p>
            </form>
        </div>

        <div class="jumbotron">
            <p class="lead"></p>
            <form method="get" action="{{ url_for('get_auth') }}">
                <p><button type="submit" value="yes"><b>Get my posts</b></button></p>
            </form>
        </div>


        <footer class="footer">
            <p>&copy; Omri Gal 2017</p>
        </footer>

    </div>
</body>

</html>
