<!DOCTYPE html>
<html lang="en">

<head>
    <title> Stack overflow api exercise </title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>

<body>

    <div class="container">
      <div class="header">
          <h3 class="text-muted"> Stack overflow api exercise </h3>
      </div>

        <div class="jumbotron">
            <p class="lead"></p>

            <form method="post" action='/myPosts'>
                <p><label>user_id:</label> <input type="text" name="user_id" required></p>
                <p><button type="submit">Send</button></p>
            </form>

        </div>

        <footer class="footer">
            <p>&copy; Omri Gal 2017</p>
        </footer>

    </div>
</body>

</html>
