<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Stack overflow api exercise </title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
<!--        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
            <li role="presentation" class="active"><a href="#">My Posts</a></li>
            <li role="presentation"><a href="#">Else</a></li>
          </ul>
        </nav>-->
            <h3 class="text-muted"> Stack overflow api exercise </h3>
      </div>

      <div class="jumbotron">
        <h1>Bucket List App</h1>


      </form>
      </div>



      <footer class="footer">
        <p>&copy; Omri Gal 2017</p>
      </footer>

    </div>
  </body>
</html>