<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Stack overflow api exercise </title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
          <h3 class="text-muted"> Stack overflow api exercise </h3>
      </div>

      <div class="jumbotron">
        <h2> List of posts by user_id - {{user_id}} </h2>

        {% for post in posts %}
        <li><a href="{{post }}"> {{ post }} </a> </li> <br>
        {% endfor %}

        {% if more %}
        <h3>user has more posts</h3>
        {% else %}
        <h3> No more posts for user</h3>
        {% endif %}


      </div>



      <footer class="footer">
        <p>&copy; Omri Gal 2017</p>
      </footer>

    </div>
  </body>
</html>